<div class="container mt-4">
소감: <br><br>
1. 앱을 스스로 만들고 나니 뿌듯하다.<br>
2. 데드라인을 두고 하니까 동기부여가 확실히 됐다. <br>
3. 풀스택을 목표로 하지만 프론트앤드에 70%의 시간을 쓴 것같다 (불마는 자바가 안들어가서 시각효과가 섭섭하다는 것을 처음 느꼈다).<br>
4. 될때는 빠르게 진행되다가 한번 조그만데서 막히면 하루가 걸릴정도로 더뎌서 답답했다.<br>
5. 거창하게 시작했지만, 결과물이 생각보다 대단하지는 않았다.<br>

<br>
<hr>
<br>
이 앱을만들면서 좋았던 점:<br><br>
 1. 카테고리에 대해서 몰랐는데 배웠다.<br>
 2. chartkick 쓰는 법 배웠다.<br>
 3. 검색기능 배웠다.<br>
 4. 처음으로 실생활에 유용할만한 기능을 '생각하며' 만들었다. 하지만 목적이 분명했기에 내가 배운것을 전부는 쓰지 못했다.<br>
    (필터 기능, 라이크 기능, 장바구니 기능, 등등)<br>
    그래도 좋았다.<br>
<br>
<hr>
<br>
개선할 점:<br><br>
 1. grid가 너무 못생겼다. 화면을 줄여봤는데 아주 서로 부대끼고 난리다. (stat페이지 빼고)<br>
 2. 왜 show 혹은 sign up 페이지로 넘어가면(지금 페이지조차도) 배경으로 해 놓은 그림이 없어지는지 모르겠다.<br>
 3. 그리고 show페이지에서 각 링크를 거는 것은 어떻게 하는건지 모르겠다. 설마 그것도 어드민에서 variable로 미리 지정해서 넣어주는건지<br>
 4. 중간에 '좋아요'기능을 만들라했는데 나중에서야 devise:install하려니까 오류가 나서 못 건드렸다. 초반에 설치해야할 듯.<br>
 5. 랭킹페이지를 만들때 각 회사의 작품을 따로따로 만들려다보니, 너무 많은 탭들이 어드민에 생겨서 조잡해졌다. 내가 아닌 다른사람이 본다면 불편할듯.<br>
 6. 또 어드민에 대한 한가지 더. 글 쓸때 엔터누르면 자동으로 줄바꿈이 안된다. 관리자입장에서는 큰 단점인듯. <br>  
 7. 검색기능을 modal로 넣고 싶었는데 불마는 그게 너무너무 힘들다. 인터넷을 찾아보고 적용하려했지만 시간 너무 걸려서 패스.<br>
 8. 왜 또 헤로쿠는 migrate 오류가 나는가. 제대로 잘 올라간 기억이 거의 없다..<br>
 </div><br><br>