<footer class="footer" style="height: 150px;">
  <div class="content has-text-centered">
    <p>
      <strong>Kantoon</strong> by Anonymous Korean guy. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
    <a href="https://bulma.io">
<img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
</a>
  </div>
</footer>