<section class="hero-1 is-info" style="background-image: url('back4.jpg')">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end ">
            <a href="/" class="navbar-item">
             <span class="icon is-large">
              <i class="fas fa-2x fas fa-home "></i>
             </span>
            </a>
            <a href="#" class="navbar-item">
             <span class="icon is-large">
              <i class="fas fa-2x fas fa-search"></i>
             </span>
            </a>
            
            <span class="navbar-item">

              <%if user_signed_in?%>
              <a href="/users/sign_out" data-method="delete" class="button is-link is-inverted">
                <span class="icon">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Log out</span>
              </a>
              <%else%>
              <a href="/users/sign_in" class="button is-link is-inverted">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Log in</span>
              </a>

              <a href="/users/sign_up" class="button is-link is-inverted ml-3">
                <span class="icon">
                  <i class="far fa-user-circle"></i>
                </span>
                <span>Sign up</span>
              </a>
              <%end%>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Kantoon
      </h1>
      <h2 class="subtitle">
        Let us introduce you the Korean webtoons!
      </h2>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li><a href="/bars" class="button is-info is-inverted is-outlined is-medium mr-2"><i class="fas fa-poll mr-3"></i>Statistics</a></li>
          <li><a href="/" class="button is-info is-inverted is-outlined is-medium mr-2"><i class="fas fa-sort-amount-up-alt mr-3"></i>Rankings</a></li>
          <li><a href="/articles" class="button is-info is-inverted is-outlined is-medium mr-2"><i class="fas fa-paper-plane mr-3"></i>News</a></li>
          <li><a href="/dramas"class="button is-info is-inverted is-outlined is-medium"><i class="fas fa-tv mr-3"></i>Drama/Movie</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>



